
@import "bootstrap/scss/bootstrap";
body{
    background-image: url('public/imagen_torre_futuro.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: #375DDB;
    background: -moz-linear-gradient(-45deg, #375DDB 0%, #308CA4 50%, #F7FEFF 100%);
    background: -webkit-linear-gradient(-45deg, #375DDB 0%, #308CA4 50%, #F7FEFF 100%);
    background: linear-gradient(135deg, #375DDB 0%, #308CA4 50%, #F7FEFF 100%);
    background-size:contain;
    background-repeat: no-repeat;
    
   
}
.footer{
  //background-image: url(public/footer1.jpg);
  background-size: cover;
  background-position: center;
  //color: #ffffff;
  padding: 0.1px;
  border-radius: 20px;
  font-style: italic;
  font-size: x-small;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* En tu archivo CSS */

.privacidad {
    background-image: url(public/torrePCT.jpeg);
    background-size: cover;
    background-position: center;
    font-size: smaller;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .privacidad h1, .privacidad h2, .privacidad h3 {
    color: #00aaff;
  }
  
  .privacidad ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .privacidad p, .privacidad ul li {
    font-size: 1.1em;
  }
  
  .privacidad a {
    color: #00aaff;
    text-decoration: underline;
  }
  .swal-image-clickable {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .swal-image-clickable:hover {
    transform: scale(1.05);
  }
  @media (max-width: 768px) {
    .swal2-popup {
      width: 95% !important;
    }
  }