
@import "bootstrap/scss/bootstrap";
body{
    background-image: url('../imagen_torre_futuro.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: #375DDB;
    background: -moz-linear-gradient(-45deg, #375DDB 0%, #308CA4 50%, #F7FEFF 100%);
    background: -webkit-linear-gradient(-45deg, #375DDB 0%, #308CA4 50%, #F7FEFF 100%);
    background: linear-gradient(135deg, #375DDB 0%, #308CA4 50%, #F7FEFF 100%);
    background-size:contain;
    background-repeat: no-repeat;
   
}
/* En tu archivo CSS */

.privacidad {
    background-image: url('../img/footer.jpeg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .privacidad h1, .privacidad h2, .privacidad h3 {
    color: #00aaff;
  }
  
  .privacidad ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .privacidad p, .privacidad ul li {
    font-size: 1.1em;
  }
  
  .privacidad a {
    color: #00aaff;
    text-decoration: underline;
  }
  